body{

    background: rgba(210,255,82,1);
background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 47%, rgba(145,232,66,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(47%, rgba(145,232,66,1)), color-stop(100%, rgba(145,232,66,1)));
background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 47%, rgba(145,232,66,1) 100%);
background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 47%, rgba(145,232,66,1) 100%);
background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 47%, rgba(145,232,66,1) 100%);
background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 47%, rgba(145,232,66,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
    text-decoration: none;
}

.cont{

width: 100%;
max-width: 300px;
margin: auto;
height: auto;
max-height: 400px;
background: #fff; 
padding: 20px; 
}
.cont h1{

    text-align: center;
}
.Form-cont{

    max-width: 250px;
    width: 100%;

  
margin: auto;


}
.Form-cont a {
text-decoration: none;
padding: 10px;
display: block;
color: darkorange;
text-align: center;

}

form input[type="submit"]{
    width:100%;
    
   padding: 8px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="text"],
form input[type="password"],
form input[type="email"]{
	width:100%;
	padding: 8px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
